<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="2.0.266" targetFramework="net462" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Sendgrid" version="9.9.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net462" />
</packages>