html, body {
    height: 100%;
    color: #868F9B;
}

body {
    background-image: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65)), Url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.customtext {
    color: black; 
    font-size:0.9rem;
}

.list-group {
     
    margin:auto;
    float:left;
    padding-top:20px;
}
.lead {
     
    margin:auto;
    left:0;
    right:0;
    padding-top:10%;
}
