<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    <text>
        Hey, <strong>{{ReceiverName}}</strong>, there are {{DaysLeftToEvent}} days left to <strong>{{NotificationEventName}}</strong>!
        <br>
        Don't forget about it!<br>Be prepared!
        <br><br><br>
        Your ReKreator team D:
    </text>
</div>
</body>
</html>
